* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
    box-sizing: border-box;
}
body {
    width: 1440px;
    margin: 0 auto;
}
/* Header */
header {
    position: fixed;
    width: 1440px;
    height: 103px;
    background-color: #303030;
}
.container {
    display: flex;
    justify-content: space-around;
    line-height: 103px;
}
.container .search {
    font-size: 28px;
    margin-top: 40px;
}
.container .logo1 {
    margin-top: 20px;
}
header ul li {
    display: inline-block;
}
header ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    margin: 0 20px;
    transition: 0.5s;
}
header ul li:hover a {
    color: orange;
}
/* banner 1 */
.banner1 {
    background-image: url("../img/banner1.png");
    height: 796px;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
}
/* banner 2 */
.banner2 {
    background-image: url("../img/banner2.png");
    /* height: 974px; */
}
.banner2__container {
    padding: 100px 0;
}
.banner2__container .banner2__text p {
    color: #ffffff;
}

.banner2__item {
    display: flex;
    justify-content: space-evenly;
}
.banner2__text1 p {
    font-size: 60px;
    text-align: center;
    text-transform: uppercase;
}
.banner2__text2 p {
    font-size: 26px;
    text-align: center;
    width: 892px;
    margin: 0 auto;
    margin-top: 70px;
    margin-bottom: 90px;
}
/* item */
.banner2__item1 {
    background-image: url("/img/background-item.png");
    width: 372px;
    height: 493px;
}

.banner2__item1 p {
    color: #ffffff;
    width: 372px;
}
.banner2__item1 p:first-of-type {
    display: block;
    font-size: 30px;
    text-align: center;
    margin-top: 45px;
}
.banner2__item1 p:last-of-type {
    display: block;
    font-size: 18px;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 20px;
}

/* banner3 */
.banner3 {
    background-image: url("../img/banner3.png");
    height: 974px;
}
.banner3__item1 {
    color: white;
    background-image: url("../img/background-item-1.png");
    width: 372px;
    height: 493px;
}
.banner3__item1 .imgBasic {
    width: 372px;
    text-align: center;
    margin: 60px auto;
}
.banner3__item1 p:first-of-type {
    display: block;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.banner3__item1 p:last-of-type {
    display: block;
    font-size: 18px;
    text-align: center;
    margin-bottom: 30px;
}
.banner3__item1 .bannerBtn {
    margin: 0 auto;
    width: 372px;
    text-align: center;
}
.banner3__item1 button,
.banner5-Btn {
    height: 70px;
    width: 80%;
    text-align: center;
    color: white;
    background-color: #303030;
    border-radius: 5px;
    font-size: 20px;
    transition: 0.5s;
}
.bannerBtn:hover button,
.bannerBtn:hover .banner5-Btn {
    background-color: gold;
    cursor: pointer;
    color: sienna;
}
/* Banner 4 */
.banner4 {
    background-image: url("../img/banner4.png");
    height: 974px;
}
.banner4__container,
.banner5__container {
    display: flex;
}
.banner4__item1,
.banner4__item2,
.banner5__item1,
.banner5__item2 {
    flex-basis: 50%;
}
.banner4__item1 img,
.banner5__item2 img {
    width: 100%;
    height: 974px;
    object-fit: cover;
}
.banner4__item2,
.banner5__item1 {
    color: white;
    padding-left: 60px;
}
/* Banner 5 */
.banner5 {
    background-image: url("../img/banner5.png");
    height: 974px;
}
.banner5-Btn {
    width: 40%;
    margin-bottom: 270px;
}
.p1 {
    font-size: 60px;
    text-transform: uppercase;
    margin-top: 300px;
}
.p2 {
    font-size: 26px;
    margin: 0 auto;
    margin-top: 70px;
    margin-bottom: 90px;
}
/* banner 6 */
.banner6 {
    background-image: url("../img/banner6.png");
    height: 974px;
}
/* Banner 7 */
.banner7 {
    background-image: url("../img/banner7.png");
    height: 974px;
}
.banner7-1 {
    background-image: url("../img/banner7-1.png") !important;
    height: 974px;
}
