* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url("../img/bg.jpeg");
    background-size: cover;
    background-position-y: -100px;
}
/* thanh header */
header {
    background-color: #131921;
}
.container {
    max-width: 960px;
    margin: 0px auto;
}
nav {
    display: flex;
    justify-content: space-between;
    justify-items: center;
}
#main-menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
#logo {
    padding: 5px 0px;
}
#logo img {
    max-width: 50px;
    height: auto;
}
#main-menu li a {
    color: #f8f8f8;
    display: block;
    text-decoration: none;
    padding: 20px 20px;
}
#main-menu li {
    position: relative;
}
/* Main */
main {
    margin-top: 100px;
    margin-left: 100px;
}
main h2 {
    padding-bottom: 10px;
    color: chartreuse;
}
main ul {
    list-style: none;
}
main ul li a {
    text-decoration: none;
    color: #000000;
}
main ul li {
    display: inline-block;
    background-color: gold;
    margin: 0 10px;
    padding: 15px;
    border: 2px solid #333;
    border-radius: 999px;
}
